@model List<Albergue_aspnet_DAS.Models.TbAlbergue>

@{
    ViewData["Title"] = "Home Page";
}


<div class="card">
    <div style="background-color:cyan" class="card-header">
        <h5>LIsta De Albergues</h5>
    </div>
    <div class="card-body">
        <a class="btn-success btn-sm text-decoration-none" asp-action="Albergue_Detalle" asp-controller="Home" asp-route-idAlbergue="0">Crear Nuevo</a>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre de Albergue</th>
                    <th>Dirección de Albergue</th>
                    <th>Distrito</th>
                    <th>Provincia</th>
                    <th>Aforo</th>
                    <th>Correo</th>
                    <th>Activo</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreAlb</td>
                        <td>@item.DireccionAlb</td>
                        <td>@item.oDistrito?.DescripcionDist</td>
                        <td>@item.oProvincia?.DescripcionProv</td>
                        <td>@item.CapacidadAlb</td>
                        <td>@item.CorreoAlb</td>
                        <td>@(item.Estado ? "SI" : "NO")</td>
                        <td>
                            <a class="btm btn-primary btn-sm text-decoration-none" asp-action="Albergue_Detalle" asp-controller="Home" asp-route-idAlbergue="@item.IdAlb">Editar</a>
                            <a class="btm btn-danger btn-sm text-decoration-none" onclick="EliminarCambios(event)" asp-action="Eliminar" asp-controller="Home" asp-route-idAlbergue="@item.IdAlb">Eliminar</a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@section Scripts {
    <script>
        function EliminarCambios(event) {
            event.preventDefault(); // Evita la navegación predeterminada

            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: "btn btn-success",
                    cancelButton: "btn btn-danger"
                },
                buttonsStyling: false
            });

            swalWithBootstrapButtons.fire({
                title: "¿Estás seguro?",
                text: "Estás a punto de eliminar los datos",
                icon: "warning",
                showCancelButton: true,
                confirmButtonText: "Eliminar",
                cancelButtonText: "Cancelar",
                reverseButtons: true
            }).then((resultado) => {
                if (resultado.isConfirmed) {
                    // Obtén el enlace que disparó el evento
                    const url = event.target.href;

                    // Redirige a la URL del botón
                    window.location.href = url;

                    swalWithBootstrapButtons.fire({
                        title: "Eliminado!",
                        text: "Los datos han sido eliminados correctamente.",
                        icon: "success"
                    });
                } else if (resultado.dismiss === Swal.DismissReason.cancel) {
                    swalWithBootstrapButtons.fire({
                        title: "Cancelado",
                        text: "Los datos no se han eliminado",
                        icon: "error"
                    });
                }
            });
        }
    </script>
}



